@model PrivateClinic.Models.PatientDoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientDoc</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symptom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, patientId = Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index", new { patientId = Model.PatientId })
</p>
